<h1>Cart</h1>

<table class="productTable">

<% @line_item.each do |line| %>
  <tr class="change">
  	 <td valign="top">
		<%= @product[line.id].name %>
	</td>
    <td valign="top">
		<b><%= line.price %></b>
	</td>
	<td>
		<%= line.quantity %>
	</td>
  </tr>
<% end %>
</table>