/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
html body{
	height: 100%
}

#banner{
	background-color: #A1CAA1;
	height: 80px;
	position: relative
}

#title{
	color: green;
	position: absolute;
	top:2px;
	left: 450px;
	font: small-caps 100%/200% serif;
	font-size:
	30px;
}

#container{
	height:100%;
	position: relative
}

#content{
	margin-left: 100px;
	position: absolute;
	left: 100;
	top:0;
	padding-left: 5px
}

#sidebar{
	width: 100px;height:100%;
	background-color: #0B220B;
	position: absolute;
	left: 0;
	top: 0;
}

.header{
	margin-top : 20px;
	margin-left: 10px;
	float: left;
}

.link{
	margin-left: 25px;
}
